
body {
  --site-background: white;
  --navbar-background: rgba(255,204,0,0.8);
  --navbar-border: rgba(0,0,0,0.1);
  --text-primary: black;
  --text-secondary: gray;
  --month-card-background: rgb(245,245,247);
  --counter-background: rgba(0,0,0,0.1);
  --released-product: rgb(8,127,6);
  --announced-product: rgb(198,105,0);
  --rumoured-product: grey;
  --link: rgb(18,116,224);
  --overlay: rgba(255,255,255,0.5);
  --product-container-background: rgb(255,255,255);
  --okay-button: rgba(0,0,0,0.1);
  --okay-button-hover: rgba(0,0,0,0.2);
  margin: 0;
  font-family: 'Helvetica Neue';
  background-color: var(--site-background);
  color: var(--text-primary);
}
@media (prefers-color-scheme: dark) {
  body {
    --site-background: black;
    --navbar-border: rgba(255,255,255,0.1);
    --text-primary: white;
    --month-card-background: rgb(28,28,30);
    --counter-background: rgba(255,255,255,0.1);

    --released-product: rgb(76,175,79);
    --announced-product: #c66900;

    --overlay: rgba(0,0,0,0.2);
    --product-container-background: rgb(0,0,0);
    --okay-button: rgba(255,255,255,0.1);
    --okay-button-hover: rgba(255,255,255,0.2);
  }
}

#navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: var(--navbar-background);
  color: black;
  -webkit-backdrop-filter: saturate(200%) blur(20px);
  border-bottom: solid 1px var(--navbar-border);
}

#spacer {
  width: 80%;
  opacity: 0;
  margin: auto;
  margin-bottom: 2%;
  margin-top: 112px;
}

.year {
  margin-top: 24px;
  margin-left: 60px;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 600px) {
  .year {
    margin-left: 48px;
  }
}

.counter {
  padding: 4px 12px;
  margin: 12px;
  border-radius: 100px;
  background-color: var(--counter-background);
  font-size: 0.7em;
  font-weight: bolder;
  position: absolute;
  top: 0;
  right: 0;

}

.container {
  margin: 0 30px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.item {
  min-width: 200px;
  padding: 12px 18px;
  margin: 12px 12px 12px;
  border-radius: 18px;
  background-color: var(--month-card-background);
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -1.5px;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
}

@media (max-width: 600px) {
  .item {
    margin: 10px 0 6px;
  }
}

li {
  list-style: none;
  line-height: 90%;
}

a {
  text-decoration: none;
  color: grey;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.product-container {
  width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: var(--product-container-background);
  font-weight: bold;
  letter-spacing: -0.5px;
  box-shadow: 0 0 24px rgba(0,0,0,0.2);
  overflow: scroll;
  max-height: 80%;
  border-radius: 18px;
}

.product-status {
  display: inline-block;
  margin-bottom: 6px;
  font-size: 1.2em;
  color: var(--released-product);
}
.released-product {
  color: var(--released-product);
}
.announced-product {
  color: var(--announced-product);
}
.rumoured-product {
  color: var(--rumoured-product);
}

.product-name {
  font-size: 3em;
}
.product-description {
  margin-top: 4px;
  font-weight: normal;
  font-size: 1.2em;
  letter-spacing: 0;
  color: var(--text-secondary);
}
ul {
  margin-block-start: 0;
  margin-block-end: 0.6em;
}
.product-header {
  margin: 0;
  margin-top: 10px;
  font-size: 1.8em;
}
.product-features li {
  list-style-type: inherit;
  font-size: 0.8em;
  font-weight: 400;
  margin: 10px 0;
  color: var(--text-secondary);
}
.source-link {
  color: var(--link);
  font-weight: 400;
}

.okay-button {
  padding: 6px 18px;
  text-align: center;
  position: sticky;
  margin-top: 40px;
  font-size: 1.4em;
  background-color: var(--okay-button);
  color: var(--text-primary);
  border-radius: 18px;
  cursor: pointer;
  transition: 100ms;
}
.okay-button:hover {
  background-color: var(--okay-button-hover);
}

.overlay {
  position: fixed;
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: var(--overlay);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  /* Prevent modal container from blocking click events */
  pointer-events: none;
}

#modal-container > * {
  /* Restore click events */
  pointer-events: initial;
}
