@font-face {
  font-family: "modernFont-regular";
  font-style: normal;
  font-weight: normal;
  src: local("Poppins Regular"), url("Poppins-Regular.woff") format("woff");
}

@font-face {
  font-family: "modernFont-bold";
  src: url("poppins-bold-webfont.woff") format("woff"), url("poppins-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "modernFont-semibold";
  src: url("poppins-semibold-webfont.woff") format("woff"), url("poppins-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "modernFont-medium";
  src: url("Poppins-Medium.woff") format("woff"), url("Poppins-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  --site-background: white;
  --navbar-background: rgba(255, 204, 0, 0.8);
  --text-primary: black;
  --text-secondary: gray;
  --text-tertiary: rgb(191, 191, 191);
  --month-card-background: rgb(245, 245, 247);
  --counter-background: rgba(0, 0, 0, 0.05);
  --released-product: rgb(8, 127, 6);
  --announced-product: rgb(230, 125, 6);
  --rumoured-product: grey;
  --link: rgb(18, 116, 224);
  --overlay: rgb(0, 0, 0);
  --product-container-background: rgb(255, 255, 255);
  --button-background: rgba(0, 0, 0, 0.05);
  --button-background-hover: rgba(0, 0, 0, 0.1);
  --footer-background: rgb(245, 245, 245);
  --blur-value: 12px;
  --border-radius: 18px;
  --transition-time: 100ms;
  --mobile-viewport: 600px;
  margin: 0;
  font-family: "Helvetica Neue";
  background-color: var(--site-background);
  color: var(--text-primary);
}
@media (prefers-color-scheme: dark) {
  body {
    --site-background: black;
    --text-primary: white;
    --text-tertiary: rgb(64, 64, 64);
    --month-card-background: rgb(28, 28, 28);
    --counter-background: rgba(255, 255, 255, 0.05);
    --released-product: rgb(76, 175, 79);
    --announced-product: rgb(224, 120, 0);
    --overlay: rgb(255, 255, 255);
    --product-container-background: rgb(14, 14, 14);
    --button-background: rgba(255, 255, 255, 0.05);
    --button-background-hover: rgba(255, 255, 255, 0.1);
    --footer-background: rgb(10, 10, 10);
  }
}

#navbar {
  position: fixed;
  z-index: 1;
  top: 24px;
  left: 42px;
  right: 42px;
  text-align: center;
  background-color: var(--navbar-background);
  color: black;
  -webkit-backdrop-filter: saturate(200%) blur(var(--blur-value));
  backdrop-filter: saturate(200%) blur(var(--blur-value));
  border-radius: 12px;
}
@media (max-width: 600px) {
  #navbar {
    font-size: 0.8em;
    top: 24px;
    left: 24px;
    right: 24px;
  }
}

#spacer {
  height: 118px;
}
@media (max-width: 600px) {
  #spacer {
    height: 90px;
  }
}

.year {
  margin-top: 24px;
  margin-left: 60px;
  font-size: 60px;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
}
@media (max-width: 600px) {
  .year {
    margin-left: 42px;
  }
}

.container {
  margin: 0 30px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 600px) {
  .container {
    margin: 0 24px;
  }
}

.item {
  min-width: 200px;
  padding: 12px 18px;
  margin: 12px 12px 12px;
  border-radius: var(--border-radius);
  background-color: var(--month-card-background);
  font-size: 36px;
  font-weight: 900;
  letter-spacing: -1.5px;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
}
@media (max-width: 600px) {
  .item {
    margin: 10px 0 6px;
  }
}

.counter {
  padding: 4px 12px;
  min-height: 38px;
  min-width: 38px;
  margin: 12px;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: var(--counter-background);
  color: var(--text-secondary);
  font-size: 0.7em;
  font-weight: 500;
  position: absolute;
  top: 0;
  right: 0;
}

li {
  list-style: none;
  line-height: 90%;
  margin: 0;
}

a {
  text-decoration: none;
  color: grey;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -0.5px;
  cursor: pointer;
}

.product-container {
  min-width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 30px 18px 30px;
  background-color: var(--product-container-background);
  font-weight: bold;
  letter-spacing: -0.5px;
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
  overflow: scroll;
  max-height: 80%;
  border-radius: var(--border-radius);
}
@media (max-width: 600px) {
  .product-container {
    top: inherit;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate(0%, 0%);
    font-size: 0.9rem;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
}
.product-status {
  padding: 4px 8px;
  display: inline-block;
  margin-bottom: 6px;
  font-size: 1.2em;
  border-radius: 6px;
}
.released-product {
  color: var(--released-product);
  transition: var(--transition-time);
}
.released-product:hover {
  padding: 4px 8px;
  background-color: rgba(8, 127, 6, 0.1);
  border-radius: 6px;
}
.product-status.released-product {
  background-color: rgba(8, 127, 6, 0.14);
}

.announced-product {
  color: var(--announced-product);
  transition: var(--transition-time);
}
.announced-product:hover {
  padding: 4px 8px;
  background-color: rgba(230, 125, 6, 0.1);
  border-radius: 6px;
}
.product-status.announced-product {
  background-color: rgba(230, 125, 6, 0.14);
}

.rumoured-product {
  color: var(--rumoured-product);
  transition: var(--transition-time);
}
.rumoured-product:hover {
  padding: 4px 8px;
  background-color: rgba(128, 126, 128, 0.1);
  border-radius: 6px;
}
.product-status.rumoured-product {
  background-color: rgba(128, 126, 128, 0.14);
}

.product-name {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 12px;
}

.product-description {
  margin-top: 4px;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 0;
  color: var(--text-secondary);
}

ul {
  margin-block-start: 0;
  margin-block-end: 0.6em;
}
.product-header {
  margin: 0;
  margin-top: 10px;
  font-size: 1.8em;
}
.product-features li {
  list-style-type: inherit;
  line-height: 1.2;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 10px 0;
  color: var(--text-secondary);
}

.source-link {
  color: var(--link);
  font-weight: 400;
  font-size: 1.2rem;
}

.close-button {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 30px;
  right: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
  text-align: center;
  text-transform: none;
  background-color: var(--button-background);
  color: var(--text-secondary);
  cursor: pointer;
  border-radius: 100px;
  border: none;
  transition: var(--transition-time);
}
.close-button:hover {
  background-color: var(--button-background-hover);
}
@media (max-width: 600px) {
  .close-button {
    height: 32px;
    width: 32px;
  }
}

.overlay {
  position: fixed;
  display: inline-block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--overlay);
  opacity: 0;
  cursor: pointer;
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  100% {
    opacity: 0.2;
  }
}

#modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Prevent modal container from blocking click events */
  pointer-events: none;
  z-index: 2;
}

#modal-container > * {
  /* Restore click events */
  pointer-events: initial;
}

#footer {
  width: 100%;
  margin-top: 24px;
  padding: 24px 0;
  background-color: var(--footer-background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#footer-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.footer-button {
  margin: 6px;
  background-color: var(--button-background);
  font-size: 1.2em;
  color: var(--text-secondary);
  padding: 6px 12px;
  border-radius: 6px;
  transition: var(--transition-time);
}
.footer-button:hover {
  background-color: var(--button-background-hover);
}

#last-updated {
  font-size: 1em;
  margin-top: 12px;
  color: var(--text-tertiary);
  border-radius: var(--border-radius);
  transition: var(--transition-time);
}

::selection {
  background: rgba(255, 204, 0, 0.8);
}
